.nav-bar-vertical ul {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 220px;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(58, 156, 255);
    overflow: hidden;
}

.nav-bar-vertical ul a {
    text-decoration: none;
}

.nav-bar-vertical li {
    display: block;
    padding: 14px;
    transition: all .2s ease-in;
}

.nav-bar-vertical ul h2 {
    margin: 20px 20px 20px 14px;
    font-size: 1.5em;
}

.welcome, .iframe-dash {
    width: calc(100% - 220px);
    float: right;
}

.welcome p, .logout a{
    font-size: 20px;
}

.iframe-dash iframe {
    border: 0;
    width: 100%;
    height: 570px;
}

.form-container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
}

.change {
    width: 250px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.container-table {
    display: block;
    align-items: center;
    text-align: center;
}

.table {
    border: 4px solid rgb(34, 36, 38);
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    padding: 12px 18px;
    border-left: 4px solid rgb(34, 36, 38);
    border-right: 4px solid rgb(34, 36, 38);
}

.table th {
    background-color: rgb(58, 156, 255);
    text-align: center;
    border-bottom: 4px solid rgb(34, 36, 38);
}

.table td {
    background-color: lightgray;
    color: black;
}